*{
    padding: 0;
    margin: 0;

    font-weight: 400;
    color: #3F3D56;
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 37px;
    margin-top: 22px;
    font-weight: 700;
    height: 43px;
    left: 569px;
    top: 68px;
}

.label-field{
    font-size: 14px;
    margin-bottom: 3px;
}

.birth-field{
    height: 18px;
    left: 36.25%;
    right: 54.93%;
    top: 232px;
}

.box{
    display: flex;
    flex-direction: column;
    /*position: absolute;*/
    left: 0%;
    right: 0%;
    top: 31.88%;
    bottom: 0%;


    background: #FFFFFF;
    /* Grey 4 */

    border: 1px solid #ABB3A8;
    box-sizing: border-box;

}

.box-date-country{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}



.register-button{
    background: #3F3D56;
    border-radius: 5px;
}
